.btn.btn-link {
	cursor: pointer; 
	padding: 0px;
	font-size: 16px%;
}

.indent {
	margin-left: 50px;
}

body {
	background: #ffffff url("../../assets/images/mainbackground2.png") repeat top left;
	color: #fff;
}

.jumbotron {
	color: #000000;
}

#footer {
	bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
}

#quiz {
	width: 70%;
}

label {
	margin: 5px;
}